<%= render "partials/menu" %>


<form action="/questions" method="POST">
<input type="hidden" value="<%=form_authenticity_token %>" name="authenticity_token" />
<% n = 1 %>
<% 10.times do %>  

<label> <legend> Question </legend> 
<input type="text" name="qs<%=n%>" placeholder="Your question goes here" autocomplete="off">
</label>
<label><legend>Points</legend>
<input type="number" name="points">
</label>
<% n+=1 %> 
<% end %>

<input type="submit" value="Generate Round">
</form>